@font-face {
    font-family:'FontAwesome';
    src: url('/ghost/assets/web-fonts-with-css/webfonts/fontawesome-webfont.eot');
    src: url('/ghost/assets/web-fonts-with-css/webfonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('/ghost/assets/web-fonts-with-css/webfonts/fontawesome-webfont.woff2') format('woff2'), url('/ghost/assets/web-fonts-with-css/webfonts/fontawesome-webfont.woff') format('woff'), url('/ghost/assets/web-fonts-with-css/webfonts/fontawesome-webfont.ttf') format('truetype'), url('/ghost/assets/web-fonts-with-css/webfonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
.mod-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
nav.navbar{
    position: absolute !important;
    width: 100%;
    background: #fff;
    transition: top .2s;
    border: 0;
    margin-bottom: 0;
    top: 0 !important;
    border-radius: 0;
    min-height: 90px;
}

.navbar-brand{
    float: left;
    padding: 15px 0px 15px 40px;
}
.mobile-menu{display: none}
body{ 
    margin: 0;
    font-family: 'Oxygen', sans-serif !important;
 }
.navbar-brand > img{
    height: 60px;
} 
.navbar-menu{
    float: right;
    clear: none;
    padding: 0px;
    border-top: 0px;
}


.main-menu{
    float: right;
    padding: 0px;
    border-top: 0px;
    margin-top: 0px;
    list-style: none;
}

.main-menu > li{
    display: table-cell;
}

.main-menu > li > a:hover{
    color: #cd2122;
    text-decoration: none;
    transition: all .3s ease;
    /* border-bottom: 4px solid #cd2122; */
}

.main-menu > li > a{
    padding: 35px 10px 35px 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    position: relative;
    color: #555;
    display: block;
    font-size: 13px;
}

.menu-body{
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    background: #fff;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: -1;
    transition: all .3s ease;
    opacity: 0;
}

.menu-body ul{
    float: right;
    padding-right: 100px;
}

.menu-body ul li{
    display: table-cell
}

.menu-body ul li a{
    padding: 25px 10px 25px 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    position: relative;
    color: #555;
    display: block;
    font-size: 13px;
}

.menu-body ul > li > a:hover{
    text-decoration: none;
    color: #cd2122;
    background-color: white;
}

.link-active .menu-body{
    top: 100%;
    opacity: 1;
    transition: all .3s ease;
}

.search-toggle{
    padding: 31px 60px 31px 25px;
    float: right;
    position: static;
    color: #555;
    right: 0;
    top: 10px;
    font-size: 20px
}

a{
    text-decoration: none;
}

h2{
    font-style: normal;
    font-weight: 400;
    line-height: 1.4 !important;
    color: #4B556B;
    letter-spacing: .05rem;
}

ul{margin: 0px !important}
h1{font-size: 61px !important;}

.wrapper{
    margin-top: 90px;
}

.hero{
    min-height: 70vh;
    background: transparent;
}

.hero, .container{
    position: relative
}

.hero .overlay{
    width: 80%;
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero .overlay h1{
    color: #fff;
    margin-top: 0px;
    letter-spacing: .2rem;
    margin-bottom: 40px;
}

.hero:after{
    position: absolute;
    background: #000;
    opacity: .2;
    height: 100%;
    width: 100%;
    content: '';
}

.hero .scroll-down{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 1;
    letter-spacing: .2rem;
}

.btn{
    background: 0 0;
    white-space: normal;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .16rem !important;
    font-size: 13px;
    padding: 13px 30px !important;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
}

.btn.btn-white-outline{
    font-weight: 600;
    border: 2px solid #fff;
    color: #fff;
    background: 0 0;
}
.btn.btn-white-outline:hover{
	color:#fff;
}
.background_red{
    background-color: #cd2122;
    color: #fff;
}

.background_grey{
    background-color: #f4f4f4;
    color: black;
}

.projects_summary{
    padding: 20px 0px;
}

.projects_summary > .project{
    padding-bottom:5px
}

.projects_summary .project:nth-child(even) .project-thumbnail {
    padding-right: 0px;
}
.projects_summary .project:nth-child(even) .project-desc {
    padding-left: 0px;
}
.projects_summary .project:nth-child(odd) .project-thumbnail {
    padding-left: 0px;
}
.projects_summary .project:nth-child(odd) .project-desc {
    padding-right: 0px;
}
.projects_summary .project:nth-child(even) .project_recap {
    border-left: 5px solid white;
}
.projects_summary .project:nth-child(odd) .project_recap {
    border-right: 5px solid white;
}

.project_recap{
    padding: 10px;
    height: 236px;
    position: relative;
}

.border_left_5_wh{
    border-left: 5px solid white;
}

.border_right_5_wh{
    border-right: 5px solid white;
}

.project_recap > h3{
    font-size: 20px;
    /*letter-spacing: 0.05em;*/
    line-height: 28px;
}

.white_border_top{
    border-top: 3px solid #fff;
}

.project_recap > .more{
    bottom: 0;
    display: block;
    left: 10px;
    padding: 10px 0;
    position: absolute;
    right: 10px;
}

.about-redot{
    padding: 60px 0;
    position: relative;
}

.about-redot h2{
    font-size: 45px;
    line-height: 62px !important;
}

.brand-color{
    color: #cd2122 !important;
}

.process-diagram{
    position: absolute;
    right: -50px;
    width: 60%;
    z-index: 10;
}

.services-grid{
    background: #f4f4f4;
    -webkit-clip-path: polygon(0 1%,100% 10%,100% 100%,0 100%);
    clip-path: polygon(0 1%,100% 10%,100% 100%,0 100%);
    padding: 200px 0 90px;
    text-align: center;
}

.services-grid .title, .projects_summary .title, .quick-links .title, .about-redot .title{
    font-size: 45px;
    text-align: left;
    line-height: 62px !important;
    padding-top: 20px;
}

.we-enable h2{
    padding-top: 20px;
}

.title span{
    font-weight: bold;
}

.services-grid .service-icon{
    padding-top: 50px;
    min-height: 430px;
}


.services-grid .service-link{
    text-decoration: none;
}

.services-grid .service-link .service-title{
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-size: 20px;
    color: #4B556B;
    font-weight: 700
}

.services-grid .service-link .service-description{
    color: #4B556B;
    font-weight: 300;
}

.services-grid .service-link .service-link-small{
    color: #28c2d8;
    text-transform: uppercase;
    letter-spacing: .15rem;
    font-size: 13px;
    font-weight: 300;
}

.why-us{
    font-size: 30px;
    padding: 100px 0;
    background: #fff;
    color: #4B556B;
}

.why-us .title{
    font-size: 45px;
    line-height: 62px !important;
    padding-bottom: 40px;
}

.why-us .video{
    margin-top: 140px;
    padding-left: 30px;
}

.why-us .client-logo{
    padding-top: 30px
}

.why-us .client-logo img{
    display: block;
    width: 100%;
}

.footer-cta{
    background-color: #cd2122;
    color: #fff;
    padding: 20px 0px;
}

.footer-cta h2.title{
    font-weight: 700;
    border-right: 2px solid white;
}

.footer-cta p{
    text-align: left;
}

.footer{
    padding: 40px 30px;
    color: #434444
}

.footer .footer__links > ul{
    font-size: 16px;
    vertical-align: top;
    margin-bottom: 0;
}

.footer .footer__links > ul > li > a{
    display: block;
    color: #000;
    font-weight: 400;
}

.footer ul{
    list-style: none;
    padding-left: 0;
    font-weight: 400;
}

.footer .sub-menu{
    display: block;
    margin: 10px 0 0 !important;
    font-size: 12px;
    color: #444;
}

.list-unstyles{
    padding-left: 0px !important;
    list-style: none !important;
}

.footer .sub-menu, .footer .sub-menu a{
    color: #444;
}

.footer .footer__links>ul>li+li{
    margin-top: 20px;
}

.footer .footer__partner-logo {
    width: 140px;
    height: 60px;
    display: block;
    margin: 20px auto 0;
}

.footer .footer__bottom{
    font-size: 12px;
}

.footer .footer__bottom a{
    color: #444;
}

.footer .footer__right, .nav-pills>li{
    text-align: center
}

.footer .social_links i{
    font-size: 28px;
    color: #444
}

.no-padding-left{
    padding-left: 0px !important;
}

.no-padding-right{
    padding-right: 0px !important;
}

.no-padding{
    padding: 0px !important
}

.full_width{
    width: 100%;
}

.quick-links-link{
    background: #ebebeb;
    display: block;
    padding: 10px 30px 10px 40px;
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.1px;
}

.quick-links .link{
    padding: 0px;
    padding-left:20px
}

.quick-links .link:first-child{
    padding-left: 0px !important;
}

.quick-links .link i{
    float: right;
    line-height: 25px;
    color:#cd2122;
}

.gird{
    margin-left: -20px;
}

.mouse-active * {
    outline: 0;
}

ul.grid{
    list-style: none;
    padding-left: 0px;
}

/************ transistions ***********************/
nav, .mobile-menu, .main-menu {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
/************* end ********************************/
.page_header{
    width: 100%;
    height: 100%;
    background: no-repeat center center;
    background-size: cover;
    position: relative;
}
.page_header .container{
    z-index: 2;
    padding-top: 50px;
    padding-bottom: 50px;
}
.page_header .title{
    color: white;
    font-size: 40px;
}
.page_header p{
    color: white;
    font-size: 22px;
}
.page_header hr{
    border: 2px solid #cd2122;
}
.tint-dark:before{
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.69);
    content: '';
    display: block;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.sub_nav .utility_bar{
    margin-bottom: 50px;
    background: #f4f4f4;
    height: 80px;
}
.utility_bar .breadcrumb{
    padding: 25px 15px;
    font-size: 20px;
}
.utility_bar .breadcrumb li{
    float: left;
    padding: 0 10px 0 0;
    position: relative;
    font-weight: 100;
}
.utility_bar .breadcrumb li.active{
    font-weight: 600;
    color: black;
}
.about-us{
    padding: 20px 0px;
}
/* .utility_bar .breadcrumb li:after{
    font-family: FontAwesome;
    content: "\f105";
} */
img{
    max-width: 100%;
}
.text-center{
    text-align: center
}

.page h1.sub_page_header{
    font-size: 40px !important;
    padding-bottom: 20px;
}

.page p, .page ul{
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
}
.page ul li::before{
    content: "\f10c";
    font-family: "FontAwesome";
    font-size: 12px;
    padding: 0 8px 0 0;
    vertical-align: middle;
}
.page ul{
    padding-left: 0px;
    list-style: none ;
}
.page .sub{
    padding: 40px;
}

.page.about-us .sub img{
    padding-top: 50px;
}
.background_light_grey{
    background-color: #f5f5f5;
}
.page.technology .sub img{
    padding-top: 20px;
}
.page.technology .sub:nth-child(even){
    background-color: #f5f5f5;
}
.portfolios{
    padding: 50px 0px;
}
.portfolio{
    margin: 20px 0px;
}
.portfolio_link svg{
    width: 20px;
}
.portfolio_link{
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: normal;
    font-size: 13px;
    text-transform: uppercase;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    height: 4rem;
    white-space: nowrap;
    position: relative;
    padding: 25px 15px;
}

.portfolio_link:hover{
    box-shadow: 0 4px 8px -3px rgba(0,0,0,.2);
    background-color: #1c299d;
    color: #fff !important;
    text-decoration: none;
}
.portfolio_link:hover svg{
    fill:white
}
.portfolio .portfolio_subheading{
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 5px;
}
.portfolio_header{
    min-height: 150px;
}
.portfolio.effro .portfolio_media{
    background-image: url(../images/pages/portfolio/effro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
}
.portfolio.sas .portfolio_media{
    background-image: url(../images/pages/portfolio/sas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
}
.portfolio.tokocrypto .portfolio_media{
    background-image: url(../images/pages/portfolio/toko.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 240px;
}
table.web-pricing-table {
    width: 100%;
    margin: 30px 0;
    display: table;
    position: relative;
}
table.smm-pricing-table {
	width: 100%;
	display: table;
    position: relative;
}
table.seo-pricing-table {
	width: 100%;
	display: table;
    position: relative;
}
.web-pricing-table td{
    text-align: center;
    border-left: 1px solid #ebebeb;
}
.web-pricing-table td:first-child{
    border-left: none;
}
.web-pricing-table tr.header td{
    padding-bottom: 70px;
}
.web-pricing-table tr.p-bottom td{
    padding-bottom: 40px;
}
.table-mini-sep{
    display: block;
    width: 75px;
    height: 2px;
    background-color: #eeb523;
    margin: 0 auto 1.5rem;
}
.web-package{
    padding: 150px 0px 100px;
}
.web-pricing-table p{
    font-size:15px;
    line-height: 16px;
}
.web-pricing-table .best{
    position: relative;
    overflow: hidden;
}
.web-pricing-table .best:before{
    background: #6add35;
    color: white;
    content: attr(data-banner);
    display: block;
    font-size: 10px;
    font-weight: bold;
    height: 25px;
    top: 0;
    left: 0;
    line-height: 24px;
    position: absolute;
    transform: translate(-32px, 20px) rotate(-34deg);
    text-align: center;
    text-transform: uppercase;
    width: 170px;
}
.web-pricing-div, .smm-pricing-div, .seo-pricing-div{
    display: none;
}
.smm-pricing-table h3, .seo-pricing-table h3{
    font-size: 20px;
    font-weight: 600;
}
.smm-pricing-table tr, .seo-pricing-table tr{
    border-bottom: 1px solid #ebebeb;
}
.smm-pricing-table td:first-child, .seo-pricing-table td:first-child{
    text-align: left;
    border-left: none;
}
.smm-pricing-table td, .seo-pricing-table td{
    padding: 15px 32px;
    border-left: 1px solid #ebebeb;
    color: #5b5e6d;
    line-height: 1.0;
    text-align: center
}
.smm-pricing-table tr.sub-head, .seo-pricing-table tr.sub-head{
    background-color: rgba(235,235,235,.4);
}
.smm-pricing-table tr.sub-head td, .seo-pricing-table tr.sub-head td{
    font-weight: 600
}
.contact h2{
    font-weight: 600;
    padding-bottom: 15px;
}
.contact{
    max-width: 370px;
    padding-bottom: 100px;
}
.contact p.social{
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 15px;
}
.contact .social i{
    width: 50px;
    font-size: 25px;
    color: #cd2122;
}
.contact-us #map{
    height: 800px !important;
}
.contact-us .map-cav{
    margin-top: -50px;
}
.members{
    padding-top: 50px;
}
.team.members{
    padding-top: 20px;
}
.team.members h3 {
    margin-bottom: 0px;
}
.team.members .member p {
    text-align: center;
}
.member .member-photo-frame{
    max-width: 200px;
    margin: 0 auto;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: solid 5px white;
    box-shadow: 0 0 0 5px #cd2122;
}
.text-brand{
    color: #cd2122;
    text-align: center;
}
.form-error{
    border: 1px solid red !important;
}
/*life*/
.about-us.page .no-gutters{
    padding:0;
}
.about-us.page .life-block-text{
    display: table-cell;
    vertical-align: middle;
    height: 595px;
    text-align: center;
    padding: 50px;
}
.about-us.page .life-block-media img{
    height: 595px;
    object-fit: cover;
    width: 100%;
}
.about-us.page .main-block, .about-us.page .redot-life {
    margin-top: 30px;
}
.about-us.page .life-block-text-ex{
    background: #000000;
    padding: 50px;
    color: #fff;
    position: absolute;
    top: -150px;
    text-align: center;
}
/*end life*/
/*join us*/
.join-us-block {
    background: url("../images/pages/about/redot-careers.jpg") no-repeat;
    background-size: cover;
    width: 75%;
}
.join-us-block-text {
    background: #fff;
    margin-top: 100px;
}
.exp-block {
    padding: 5px;
    background: #cd2122;
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
}
.job-block {
    padding: 15px 50px;
}
.job-block h3 {
    font-weight: 700;
}
.job-block.last {
    padding-bottom: 50px;
}
.join-us-block-contact {
    background: #000;
    color: #fff;
}
.join-us-block-details {
    padding: 50px;
}
/*end join us*/
/*services*/
.service-block-text {
    display: table-cell;
    vertical-align: middle;
    height: 350px;
    text-align: center;
    padding: 50px;
}
.services-block {
    margin-top: 30px;
}
.service-block-media img {
    height: 350px;
    object-fit: cover;
    width: 100%;
}
/*end services*/
/*portfolio effro*/
.quote-box{
    overflow: hidden;
    background-color: #f4f4f4;
    margin-top: 25px; 
    padding: 20px; 
}
.quotation-mark .fa.fa-pull-left {
    margin-right:20px;
}
.quote-name {
    float: right;
    font-size: 15px !important;
}
#wideCarousel{
    margin: 30px 0;
}
.portfolio-list {
    padding-left: 0px;
    list-style: none ;
    margin-bottom: 10px !important;
}
.portfolio-list li::before{
    content: "\f10c";
    font-family: "FontAwesome";
    font-size: 12px;
    padding: 0 8px 0 0;
    vertical-align: middle;
}
.porfolio-wide-bg {
    background: #f5f5f5;
    padding: 30px;
    margin-top: 30px;
}
.porfolio-wide-dark-bg {
    background: #323232;
    color: #fff;
    padding: 30px;
    text-align: center;
}
/*end portfolio effro*/