@media only screen and (max-width: 1200px){
    .project_recap{
        height: 250px;
    }
    .web-pricing-table p{
        font-size:13px;
        line-height: 16px;
    }
    .web-pricing-table h4{
        font-size: 16px;
    }
    .web-pricing-table h3, .smm-pricing-table h3{
        font-size: 18px;
    }
	.project-thumbnail img{
		height:250px;
		object-fit: cover;	
	}
	.card-wrapper .card .back p {
    font-size: 14px !important;
    padding: 0 20px;
    line-height: 28px !important;
	}
	.card-wrapper .card .back h3 {
    font-size: 16px !important;
    padding-bottom: 5px;
    margin:20px 20px 10px;
    border-bottom: 1px dotted #fff;
    }
}
@media only screen and (max-width: 1024px){
    .services-grid .service-link .service-title{
        font-size: 16px;
    }
    .services-grid .title, .project_summary .title, .quick-links .title, .about-redot .title{
        font-size: 35px;
        line-height: 50px !important
    }	
}
@media only screen and (max-width: 991px){
    .quick-links .link{
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 5px;
    }
    .projects_summary .project:nth-child(even) .project-thumbnail, .projects_summary .project:nth-child(even) .project-desc, .projects_summary .project:nth-child(odd) .project-thumbnail, .projects_summary .project:nth-child(odd) .project-desc {
        padding: 0px 15px;
    }
    .projects_summary .project:nth-child(even) .project_recap, .projects_summary .project:nth-child(odd) .project_recap{
        border: 0px;
    }
    .web-pricing-table.desktop, .smm-pricing-table.desktop, .seo-pricing-table.desktop {
        display: none;
    }
    .web-pricing-div, .smm-pricing-div, .seo-pricing-div{
        display: block;
    }
    .web-package{
        padding: 0px 0px 100px;
    }
    .contact{
        max-width: 80%;
        margin: 0 auto;
    }
    .about-us.page .life-block-text-ex {
        position: static;
        top: 0;
    }
    .about-us.page .life-block-text {
        height: auto;
    }
	#menu-footer-1, #menu-footer-2, #menu-footer-3, #menu-footer-4, #menu-footer-5,.list-unstyled {
		margin-bottom:20px !important;
    }
    .hero {
        min-height: 110vh;
    }
	.col-md-8.map-cav {
		padding:0;
	}
}
@media only screen and (max-width: 880px){
    .main-menu{
        position: fixed;
        background-color: #F2F3F6;
        border-left: 1px solid #EAEBEF;
        float: none;
        height: 100%;
        width: 80%;
        top: 0;
        right: -80%;
        text-align: center;
        padding-top: 50px;
        overflow-x: scroll;
        display: block !important;
    }
    .main-menu > li{
        display: block;
        position: relative;
        z-index: -1;
    }
    .main-menu > li > a{
        padding: 15px 0 15px 20px;
    }
    .menu-body{
        transition: none;
    }
    .menu-body ul{
        float: none;
        padding-right: 0px;
    }
    .menu-body ul li {
        display: block;
    }
    .menu-body ul li a{
        padding: 15px 0 15px 0px;
    }
    .mobile-menu{
        position: absolute;
        display: block;
        top: 30px;
        right: 5%;
        height: 32px;
        width: 32px;
        /* vertical-align: middle; */
        cursor: pointer;
        z-index: 10;
    }
    .search-toggle{
        position: absolute;
        top: 0px;
        right: 25px;
    }
    .menu-on header nav .navbar-menu ul {
        right: 0;
    }
    .services-grid{
        -webkit-clip-path: polygon(0 1%,100% 7%,100% 100%,0 100%);
        clip-path: polygon(0 1%,100% 7%,100% 100%,0 100%);
    }
    .link-active .menu-body{
        position: relative;
        opacity: 1;
        transition: none;
    }
    .menu-toggle{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .process-diagram{
        right: 0px;
        width: 80%;
        position: relative;
        margin: 0 auto
    }
    .about-redot{
        padding: 0px;
    }
    .slider-parallax h1{
        font-size: 52px !important;
    }
	.project_recap{
        height: auto;
    }
	.project-thumbnail img{
		height:auto;	
	}
	.project_recap > .more {
		left: 0px;
		position: relative;
	}
	.hero .overlay h1 {
		margin-bottom: 20px;
		letter-spacing:.1rem;
    }
    .hero {
        min-height: 70vh;
    }
	
}
@media only screen and (max-width: 767px){
    .join-us-block-text {
        margin-top: 0;
    }
}
@media only screen and (max-width: 565px){
    .services-grid .title, .projects_summary .title, .quick-links .title, .about-redot .title{
        font-size: 28px;
        line-height: 38px !important
    }
    .services-grid .service-link .service-title{
        font-size: 14px;
    }
    .project_recap > h3{
        font-size: 23px;
    }
    .slider-parallax h1{
        font-size: 40px !important;
    }
    .sub_page_header{
        font-size: 25px;
    }   
    .utility_bar .breadcrumb{
        font-size: 14px;
    }
    .sub_nav .utility_bar{
        height: 70px;
        margin-bottom: 0px;
    }	.contact-us .map-cav {		margin-top:0;	}
}

@media only screen and (max-width: 440px){
    .services-grid .service-icon{
        min-height: 400px;
    }
    .why-us .title{
        font-size: 28px;
        line-height: 38px !important;
    }
    .why-us p{
        font-size: 24px;
    }
    .why-us{
        padding-top: 20px;
    }
    .why-us .video{
        margin-top: 40px;
        padding-left: 15px;
    }
    .slider-parallax h1{
        font-size: 33px !important;
    }
    .smm-pricing-div td{
        font-size: 11px;
    }   
    .sub_nav .utility_bar{
        height: 70px;
        margin-bottom: 0px;
    }
    .utility_bar .breadcrumb{
        font-size: 13px;
    }
	.card-wrapper .card .back h3 {
		font-size: 14px !important;
		margin: 10px 20px 10px;
	}
	.card-wrapper .card .back p {
		font-size: 12px !important;
		padding: 0 20px;
		line-height: 20px !important;
	}
}

@media only screen and (max-width: 360px){
    .sub_nav .utility_bar{
        height: 70px;
        margin-bottom: 0px;
    }
    .utility_bar .breadcrumb{
        font-size: 11px;
    }
    .card-wrapper .card .back h3 {
		font-size: 12px !important;
        margin: 10px 10px 5px;
	}
	.card-wrapper .card .back p {
		font-size: 11px !important;
		padding: 0 10px;
		line-height: 12px !important;
    }
    .portfolio_section .btn.small.btn-white-outline {
        font-size: 11px;
        margin: 0 10px;
        padding: 5px !important;
    }
}